{{extend 'layout.html'}}
<style>
table,th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

</style>
<div style="right:50%;
    top: 50%;
margin_right:-25%
    position: absolute;
    margin-top: -15%;">
{{l=0}}
<h3><center><b>Solution related to selected problem :- </b><br><br></center></h3>
<table style = "width:100% ;border:1px solid #ddd;border-collapse:collapse;" id="customers" >
    <tr>
        <th>
            Solution ID
        </th>
        <th>
            Solution Description
        </th>
    <th>
        Sources
        </th>
    </tr>
    {{for p in pp:}}
    {{for i in db(db.Problems.p_category==p.p_category).select(db.Problems.id):}}
    {{for k in db(db.Solutions.p_id==i.id).select():}}
    {{l=l+1}}
    <tr>
        <td>
            <p>
                {{=k.id}}
            </p>
        </td>
        <td>
            <p>
            {{=k.solution}}</p>
        </td>
        <td>
            <p>
                {{=k.contact}}</p>
        </td>
        {{pass}}
        {{pass}}
        {{pass}}
</table>
</div>
