<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix<script src="{{=URL('static','js/myajax.js')}}"></script>
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UGC Innovation Portal</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
      <!--<link rel="stylesheet" href="{{=URL('static','css/animate.css')}}"/>-->
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <style>


 .navbar-custom {
     background-color:#424949     ;
    color:#ffffff;
    border-radius:0;
}.navbar-custom {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}
    .navbar-custom {
    color:#F8F8F8;
    background-color:#e74c3c;
  border-color:#E7E7E7;
}
        .navbar-custom {
    background-color:#18aed3;
    color:#ffffff;
    border-radius:0;
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:#884EA0;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #2980b9 !important;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}
        #nav{

    z-index:999999;
}
    </style>
      <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
  </style>
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>

    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    {{
    # using sidebars need to know what sidebar you want to use
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
  </head>
  <body>
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
    <!-- Navbar ======================================= -->
    <div class="row" style="background-color:pink;width: 100%;width: 100vw;position:relative;top:-200px;height:400px">
                       <!--<div class="col-xs-1"><img src="{{#=URL(r=request,c='static',f='images/off1.png')}}" height="200px" width="300px" style="top:150px;position:relative"/></div>-->
           <div class="col-xs-1"><img src="{{=URL(r=request,c='static',f='images/sahayog.png')}}" height="290px" width="350px" style="top:130px;position:relative"/> </div>
       
        <div class="col-xs-11 text-center" style="position:relative;top:200px"><h1><b><i> रचनात्मक भारत, अभिनव भारत  </i></b></h1></div>

  </div>
    <nav class="navbar navbar-custom" role="navigation" id="nav" style="top:-250px ; position:relative">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{#=response.logo or ''}}
          <!--<img src="{{=URL(r=request,c='static',f='images/sahayog.png')}}" height="70px" width="90px" border="5"/>-->
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">

          <ul class="nav navbar-nav navbar-right">
              {{#link = URL(c ='default', f = 'Contact_us')}}

              <li><a href="/UGC/default/Contact_us">Contact Us</a></li>
            {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
          </ul>
          <div class="col-sm-3 col-md-3 pull-right">
        <form class="navbar-form" action="{{=URL(r=request,f='Browse_problem')}}" role="search">
        <div class="input-group">
            <input type="string" class="form-control" placeholder="Search Problem" name="PID" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" style="height:47px"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
        </div>
          {{if response.menu:}}
          {{=MENU(response.menu, _class='nav navbar-nav',li_class='dropdown',ul_class='dropdown-menu')}}
          {{pass}}
        </div>
      </div>
    </nav>
    <!-- Masthead ===================================== -->
    {{block header}}
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <div class="container-fluid main-container ">
      {{if left_sidebar_enabled:}}
        <div class="col-md-3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}

      <div class="{{=middle_column}}">
        {{block center}}
        {{include}}
        {{end}}
      </div>

      {{if right_sidebar_enabled:}}
        <div class="col-md-3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}

    </div>

    {{block footer}} <!-- this is default footer -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
          <div id="poweredBy" class="pull-right">
            {{=T('')}}
            <a href="https://twitter.com/TeamAtulya">TEAM ATULYA</a>
          </div>
      </div>
    </footer>
    {{end}}
    <!-- The javascript =============================== -->

    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    <script src="{{#=URL('static','js/myajax.js')}}"></script>
    {{block page_js}}{{end page_js}}
    {{if response.google_analytics_id:}}
      <script>function myfunction()
    {
        document.getElementById("n").innerHTML=request.vars['mytext'];
    }</script>
    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
    </script>
    {{pass}}
    <!-- Share ============================y============ -->
    <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
                <script>$(document).ready(function(){
    $('.hide').hide();
    $('#test').click(function(){
        $('#content').toggle();
    });        
});</script>
      
      <!--<script>$('#m').load('https://slack.com/signin');</script>-->
  </body>
</html>
